.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/workspace.xml
*.iml
*.xml
.idea/workspace.xml
*.xml
.idea/workspace.xml
*.xml
.idea/workspace.xml
*.xml
.idea/workspace.xml
.idea/workspace.xml.idea/workspace.xml
*.xml