/* Custom CSS in here */
html, body{ background-color: #F1F1F1; }

#header { margin: 15px 0; display: none; }
.container { padding-top: 50px; width: 90%; }

/* Gray line over the menu so it looks like on the EGS forum. */
.grayLine { width: 100%; background-color: #444444; height: 5px; } 

#navbar { padding-left: 0px; }
#navbar li:hover { background-color: #444444 !important; }
.navbar-default { background-image: none; background-color: #2F2F2F; border-radius: none; box-shadow: none; }
.navbar-default .container-fluid { padding-left: 0px; }
.navbar-default a { color: #FFFFFF !important; }
.navbar-default .active { background-color: #CC181E !important; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover { background-color: #CC181E; color: #fff;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a { background-image: none; }
.navbar-brand  img { width: 115px; }
.navbar-brand { height: auto; padding: 5px; margin-left: 15px; }

/* Content Boxes */
.panelLeft { width: 70%; float: left; }
.panelRightUp { width: 29%; float: right; }
.panelRightDown { width: 29%; float: right; }

@media all and (min-width: 768px){

.navbar-brand { display: none !important; }
#header { display: block; }
.panelLeft { min-height: 700px; }
.panelRightUp { min-height: 100px; }
.panelRightDown {  min-height: 580px; }


}

@media all and (max-width: 767px){

.container { width: 100%; padding: 0px; }

}